.about__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #44558f;
    font-size: 48px;
    margin: 0px;
    border-bottom: 1px dashed #dddada;
    padding-bottom: 40px;
    text-align: center;
}

.about__content {
    margin: 60px 0 80px;
}

.about__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.about__text-first {
    margin-bottom: 70px;
}

.about__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #44558f;
    cursor: pointer;
}

.about__text-active {
    color: #44558f;
    margin-bottom: 60px;
}

.about__item {
    margin-bottom: 60px;
}

.about__content-bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.about__content-bottom-country {
    max-width: 510px;
}

.about__text-country {
    max-width: 410px;
}

.about__country-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.country {
    border-radius: 50%;
    color: #44558f;
    border: 1px dashed #dddada;
    margin-right: 15px;
    position: relative;
}

.country::after {
    content: '--';
    position: absolute;
    top: 40%;
    right: -14px;
    color: #dddada;
}

.country:last-child:after {
    display: none;
}

.cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 6px;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.cercle-img {
    object-fit: cover;
}

.about__content-bottom-info-box {
    display: flex;
    justify-content: space-between;
}

.about__content-bottom-info-desc {
    width: 210px;
}

.about__info-num {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    color: #44558f;
}

.about__info-product {
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #bebbbb;
}


/* bussines */

.bussines {
    padding-bottom: 100px;
}

.bussines__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-top: 70px;
}

.bussines__item {
    position: relative;
    width: 500px;
    padding: 30px;
}

.bussines__item-left {
    background-image: url(../images/bg-bussines.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.bussines__item-right {
    background-image: url(../images/bg-bussines.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.bussines__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.bussines__list {}

.bussines__items {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.bussines__items::before {
    content: url(../images/okey.svg);
}

.bussines__item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 30px;
    width: 60px;
    height: 5px;
    background-color: #44558f;
    z-index: 10;
}

.bussines__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.bussines__text {
    margin-bottom: 0;
}

/* IDIA */

.idea__inner {
    margin: 60px 0 90px;
}

.about__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.about__btn {
    width: 280px;
    height: 80px;
    background-color: #44558f;
    border-radius: 40px;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about__btn:before {
    content: url(../images/arrow-right.png);
    position: absolute;
    top: 40%;
    left: -40px;
}

.about__btn::after {
    content: url(../images/arrow-left.png);
    position: absolute;
    top: 40%;
    right: -40px;
}

/* RESOURS */

.resource {
    margin-bottom: 100px;
}

.resource__inner {
    margin-top: 40px;
}

.resource__sertificat-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

.resource__sertificat-img {
    object-fit: cover;
}

/* CENTER */

.cente {}

.about__title {}

.center__inner {
    margin-top: 40px;
}

.about__text {}

.about__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #44558f;
}

.about__btn-box {}

.about__btn {}