/* ABOUT PAGE */

.ark-about__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #44558f;
    font-size: 48px;
    margin: 0px;
    border-bottom: 1px dashed #dddada;
    padding-bottom: 40px;
    text-align: center;
}

.ark-about__content {
    margin: 60px 0 80px;
}

.ark-about__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.ark-about__text-first {
    margin-bottom: 70px;
}

.ark-about__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #44558f;
    cursor: pointer;
}

.ark-about__text-active {
    color: #44558f;
    margin-bottom: 60px;
}

.ark-about__slider {
    margin-bottom: 95px;
}

.ark-about__item {
    overflow: hidden;
    max-height: 500px;
}

.ark-about__item-img {
    object-fit: cover;
}

.ark-slider__counter {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.ark-slider__counter--active {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #44558f;
}

.ark-about__content-bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.ark-about__content-bottom-country {
    max-width: 510px;
}

.ark-about__text-country {
    max-width: 410px;
}

.ark-about__country-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ark-country {
    border-radius: 50%;
    color: #44558f;
    border: 1px dashed #dddada;
    margin-right: 15px;
    position: relative;
}

.ark-country::after {
    content: '--';
    position: absolute;
    top: 40%;
    right: -14px;
    color: #dddada;
}

.ark-country:last-child:after {
    display: none;
}

.ark-cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 6px;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.ark-cercle-img {
    object-fit: cover;
}

.ark-about__content-bottom-info-box {
    display: flex;
    justify-content: space-between;
}

.ark-about__content-bottom-info-desc {
    width: 210px;
}

.ark-about__info-num {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    color: #44558f;
}

.ark-about__info-product {
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #bebbbb;
}

/* bussines blok*/

.ark-bussines {
    padding-bottom: 100px;
}

.ark-bussines__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 70px;
}

.ark-bussines__item {
    position: relative;
    width: 500px;
    padding: 30px;
}

.ark-bussines__item-left {
    background-image: url(../images/bg-bussines.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.ark-bussines__item-right {
    background-image: url(../images/bg-bussines.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.ark-bussines__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.ark-bussines__items {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.ark-bussines__items::before {
    content: url(../images/okey.svg);
}

.ark-bussines__item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 30px;
    width: 60px;
    height: 5px;
    background-color: #44558f;
    z-index: 10;
}

.ark-bussines__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.ark-bussines__text {
    margin-bottom: 0;
}

/* isea blok */

.ark-idea__inner {
    margin: 60px 0 90px;
}

.ark-about__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.ark-about__btn {
    width: 280px;
    height: 80px;
    background-color: #44558f;
    border-radius: 40px;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.ark-about__btn:before {
    content: url(../images/arrow-right.png);
    position: absolute;
    top: 40%;
    left: -40px;
}

.ark-about__btn::after {
    content: url(../images/arrow-left.png);
    position: absolute;
    top: 40%;
    right: -40px;
}

/* resource blok */

.ark-resource {
    margin-bottom: 100px;
}

.ark-about__img {
    margin-bottom: 60px;
}

.ark-about__img-festool {
    margin-bottom: 40px;
}

.ark-resource__inner {
    margin-top: 40px;
}

.ark-resource__sertificat-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ark-resource__sertificat-img {
    object-fit: cover;
}

/* center blok */

.ark-center__inner {
    margin-top: 40px;
}

.ark-about__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #44558f;
}


@media(max-width: 1300px) {
    .ark-about__content-bottom {
        flex-direction: column;
    }

    .ark-about__country-box {
        margin-bottom: 20px;
    }
}

@media(max-width: 990px) {
    .ark-about__slider {
        margin-bottom: 30px;
    }

    .ark-bussines__inner {
        flex-direction: column;
    }

    .ark-bussines__item {
        width: 100%;
    }

    .ark-idea__inner {
        margin: 40px 0;
    }

    .ark-about__btn-box {
        margin-bottom: 40px;
    }

    .ark-resource__sertificat-box {
        justify-content: center;
    }

}

@media(max-width: 720px) {
    .ark-about__slider {
        margin-bottom: 40px;
    }

    .ark-about__text-active {
        margin-bottom: 30px;
    }

    .ark-country::after {
        display: none;
    }

    .ark-about__slider-btn-box {
        margin-top: 20px;
    }

    .ark-about__info-num {
        font-size: 26px;
    }

    .ark-about__img {
        margin-bottom: 20px;
    }
}

@media(max-width: 520px) {
    .ark-about__country-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .ark-about__content-bottom-info-box {
        flex-wrap: wrap;
    }

    .ark-about__text-first {
        margin-bottom: 50px;
    }

    .ark-about__title {
        font-size: 36px;
    }

}

@media(max-width: 400px) {

    .ark-about__btn::after,
    .ark-about__btn::before {
        display: none;
    }

}