/* ABOUT PAGE */

.ark-about__title,
.ark-pay__title,
.ark-delivery__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #44558f;
    font-size: 48px;
    margin: 0px;
    border-bottom: 1px dashed #dddada;
    padding-bottom: 40px;
    text-align: center;
}

.ark-about__content {
    margin: 60px 0 80px;
}

.ark-about__text,
.ark-pay__text,
.ark-delivery__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.ark-about__text-first {
    margin-bottom: 70px;
}

.ark-about__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #44558f;
    cursor: pointer;
}

.ark-about__text-active {
    color: #44558f;
    margin-bottom: 60px;
}

.ark-about__slider {
    margin-bottom: 95px;
}

.ark-about__item {
    overflow: hidden;
    max-height: 500px;
}

.ark-about__item-img {
    object-fit: cover;
}

.ark-slider__counter {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.ark-slider__counter--active {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #44558f;
}

.ark-about__content-bottom {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.ark-about__content-bottom-country {
    max-width: 510px;
}

.ark-about__text-country {
    max-width: 410px;
}

.ark-about__country-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ark-country {
    border-radius: 50%;
    color: #44558f;
    border: 1px dashed #dddada;
    margin-right: 15px;
    position: relative;
}

.ark-country::after {
    content: '--';
    position: absolute;
    top: 40%;
    right: -14px;
    color: #dddada;
}

.ark-country:last-child:after {
    display: none;
}

.ark-cercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 6px;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.ark-cercle-img {
    object-fit: cover;
}

.ark-about__content-bottom-info-box {
    display: flex;
    justify-content: space-between;
}

.ark-about__content-bottom-info-desc {
    width: 210px;
}

.ark-about__info-num {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    color: #44558f;
}

.ark-about__info-product {
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #bebbbb;
}

/* bussines blok*/

.ark-bussines {
    padding-bottom: 100px;
}

.ark-bussines__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 70px;
}

.ark-bussines__item {
    position: relative;
    width: 500px;
    padding: 30px;
}

.ark-bussines__item-left {
    background-image: url(../images/bg-bussines-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ark-bussines__item-right {
    background-image: url(../images/bg-bussines-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ark-bussines__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.ark-bussines__items {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.ark-bussines__items::before {
    content: url(../images/okey.svg);
}

.ark-bussines__item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 30px;
    width: 60px;
    height: 5px;
    background-color: #44558f;
    z-index: 10;
}

.ark-bussines__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.ark-bussines__text {
    margin-bottom: 0;
}

/* isea blok */

.ark-idea__inner {
    margin: 60px 0 90px;
}

.ark-about__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.ark-about__btn {
    width: 280px;
    height: 80px;
    background-color: #44558f;
    border-radius: 40px;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.ark-about__btn:before {
    content: url(../images/arrow-right.png);
    position: absolute;
    top: 40%;
    left: -40px;
}

.ark-about__btn::after {
    content: url(../images/arrow-left.png);
    position: absolute;
    top: 40%;
    right: -40px;
}

/* resource blok */

.ark-resource {
    margin-bottom: 100px;
}

.ark-about__img {
    margin-bottom: 60px;
}

.ark-about__img-festool {
    margin-bottom: 40px;
}

.ark-resource__inner {
    margin-top: 40px;
}

.ark-resource__sertificat-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    cursor: pointer;
}

.ark-resource__sertificat-img {
    object-fit: cover;
}

.ark-resource__sertificat-img-box {
    width: 162px;
    height: 227px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* center blok */

.ark-center__inner {
    margin-top: 40px;
}

.ark-about__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #44558f;
}

/* PAY PAGE */

.ark-pay__inner {
    margin-top: 45px;
}

.ark-pay__item {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 55px;
}

.ark-pay__img-box,
.ark-delivery__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    height: 160px;
    background-color: #f6f7fa;
    border: 1px solid #b7bfdd;
    border-radius: 20px;
}

.ark-pay__info,
.ark-delivery__info {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.ark-pay__subtitle,
.ark-delivery__subtitle {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #44558f;
    margin: 0 0 50px 0;
}

.ark-pay__subtitle::after,
.ark-delivery__subtitle::after {
    position: absolute;
    bottom: -15px;
    left: 0;
    content: '...';
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 3px;
    color: #44558f;
}

.ark-pay__text-accent {
    color: #44558f;
}

.ark-pay__list-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    padding-left: 25px;
}

.ark-pay__list-item::before {
    position: absolute;
    top: 0;
    left: 2px;
    content: url(../images/pay/arrow-list.svg);
}


/* DELIVERY PAGE */

.ark-delivery__inner {
    margin-top: 45px;
}

.ark-delivery__item {
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
    margin-bottom: 55px;
}

.ark-delivery__info-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-bottom: 50px;
}

.ark-delivery__info-column {
    width: 350px;
}

.ark-delivery__address {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

.ark-delivery__info-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.ark-delivery__benefits {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ark-delivery__benefits-item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    width: 240px;
    padding: 12px;
    border: 1px solid #c1c2c2;
    border-radius: 20px;
}

.ark-delivery__caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.ark-delivery__pickup {
    border: 1px solid #c1c2c2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 75px;
    padding: 30px;
    margin-bottom: 50px;
}

.ark-delivery__rules-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
}

.ark-delivery__rules-list {
    counter-reset: name 0;
}

.ark-delivery__rules-items {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    padding-left: 60px;
    position: relative;
}

.ark-delivery__rules-items::before {
    font-weight: 700;
    counter-increment: name;
    content: counter(name);
    border: 1px solid #6b7dba;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    left: 0;
}

.ark-delivery__document {
    border: 1px solid #c1c2c2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    padding: 30px;
    margin-bottom: 50px;
}

.ark-delivery__list-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    padding-left: 25px;
}

.ark-delivery__list-item::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: url(../images/pay/arrow-list.svg);
}

.ark-pay__text-upper {
    text-transform: uppercase;
    padding-bottom: 16px;
}

.ark-delivery__cdek {
    margin-bottom: 60px;
}


.ark-delivery__cdek-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.ark-delivery__cdek-calc {
    justify-content: space-between;
}

.ark-delivery__text-calc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    max-width: 360px;
    margin-bottom: 0;
}

.ark-delivery__cdek-col div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    border-left: 1px solid #a1aac7;
    margin-left: 15px;
}

.ark-delivery__cdek-btn {
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: 240px;
    padding: 12px;
    border: 1px solid #c1c2c2;
    border-radius: 20px;
}

.ark-delivery__subtitle-bottom {
    margin-left: 200px;
}

.ark-delivery__subtitle-bottom::after {
    content: none;
}

.ark-delivery__benefits {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ark-delivery__item-bottom {
    padding-bottom: 100px;
}

.ark-delivery__bottom-items {
    width: 240px;
}

.ark-delivery__inner-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.ark-delivery__bottom-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c1c2c2;
    border-radius: 20px;
    max-width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.ark-delivery__bottom-caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}


.ark-bg-page {
    background-image: url(../images/bg-bottom.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 106%;
}

.ark-page__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.ark-aside {
    flex: 1 0 260px;
    margin-right: 60px;
}

.ark-aside__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #2d2d2d;
    line-height: 36px;
}

.ark-aside__item::before {
    content: none;
}

.ark-aside__item {
    border: 1px solid #f2f2f2;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.ark-aside__item:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.ark-aside__link {
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    display: block;
    padding: 20px 35px 19px 30px;
    text-decoration: none;
    transition: background-color .3s;
}

.ark-aside__link:hover {
    color: #808080;
    text-decoration: none;
    background-color: #fbfcfd;
    transition: background-color .3s;
}

.ark-resource__sertificat-box {
    cursor: zoom-in;
}

.modal__show {
    cursor: zoom-out;
}

/* MEDIA */

@media(max-width: 1300px) {
    .ark-about__content-bottom {
        flex-direction: column;
    }

    .ark-about__country-box {
        margin-bottom: 20px;
    }

    .ark-delivery__benefits {
        flex-wrap: wrap;
    }
}

@media(max-width: 990px) {
    .ark-about__slider {
        margin-bottom: 30px;
    }

    .ark-bussines__inner {
        flex-direction: column;
    }

    .ark-bussines__item {
        width: 100%;
    }

    .ark-idea__inner {
        margin: 40px 0;
    }

    .ark-about__btn-box {
        margin-bottom: 40px;
    }

    .ark-resource__sertificat-box {
        justify-content: center;
    }

    .ark-delivery__text-calc {
        margin-bottom: 20px;
    }

    .ark-delivery__cdek-col div {
        border-left: none;
    }

    .ark-delivery__cdek-img {
        margin-bottom: 20px;
    }

    .ark-delivery__subtitle-bottom {
        margin-left: 0px;
        text-align: center;
    }

}

@media(max-width: 720px) {
    .ark-aside {
        display: none;
    }

    .ark-about__slider {
        margin-bottom: 40px;
    }

    .ark-about__text-active {
        margin-bottom: 30px;
    }

    .ark-country::after {
        display: none;
    }

    .ark-about__slider-btn-box {
        margin-top: 20px;
    }

    .ark-about__info-num {
        font-size: 26px;
    }

    .ark-about__img {
        margin-bottom: 20px;
    }
}

@media(max-width: 520px) {
    .ark-about__country-box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .ark-about__content-bottom-info-box {
        flex-wrap: wrap;
    }

    .ark-about__text-first {
        margin-bottom: 50px;
    }

    .ark-about__title {
        font-size: 36px;
    }

    .ark-pay__item,
    .ark-delivery__item {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .ark-pay__img-box,
    .ark-delivery__img-box {
        max-width: 160px;
    }

    .ark-delivery__img-box {
        margin-bottom: 30px;
    }

    .ark-delivery__pickup,
    .ark-delivery__document {
        flex-direction: column;
    }

    .ark-delivery__pickup img,
    .ark-delivery__document img {
        margin-bottom: 20px;
    }
}

@media(max-width: 400px) {

    .ark-about__btn::after,
    .ark-about__btn::before {
        display: none;
    }

}